body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9db80+0,96c56f+100;Green+3D+%232 */
  background: rgb(169, 219, 128);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(169, 219, 128, 1) 0%, rgba(150, 197, 111, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9db80', endColorstr='#96c56f', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

  overflow: hidden;
  height: 100vh;
}

#scroll{
  overflow-y:hidden;
  overflow-x:hidden;
  
}

#paragraph{
  
  font-family: "Marcellus SC", serif;
  text-transform: capitalize;
  text-align: center;
  font-size: 25px;
  color: rgb(218, 250, 204);
  text-shadow: rgb(7, 49, 13) 2px 2px 2px;
}
.bt{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /*background-color: #aaa;*/
  background-color:#3a3;
  opacity: 70%;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,1) ;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,1) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

#scroll{
  overflow-y:scroll;
}
.bt:hover{
border-bottom:2px solid #fff;
border-top:2px solid #fff;
background-color: #bbb;
}

.bt:active{
  background-color: #0f0;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.navbar{
  border-bottom:2px solid #000;
}


.container{
  height: auto;
  margin:5vh auto;
  border-bottom:1px solid #000;
}

.folder-container{
  padding:15px;
  display:inline-block;
  text-align: center;
  margin-right: 20px;
  margin-bottom:20px;
}
#trash{
  margin-right: 10px;
  color:#a22;
}
#edit{
  right: 0;
color:#17a;
}

#alert{
  color:#a22;
  font-size:15px;
  margin-bottom:10px;
 
}

.folder-container i{
  padding:5px;
}

.folder-container i:hover{
background-color: rgb(140, 185, 127);
opacity: 80%;
border-radius:10px 10px 10px 0 ;} 

@media screen and (max-width:800px) {

  #paragraph{
    font-size:15px;
  }

  
}